{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="docs-section">
        <h1><i class="fa fa-terminal"></i> Code</h1>
        <h4>Some projects i've been working on...</h4>
    </div>
    <div class="docs-section" id="flask">
        <div class="row">
          <h2 class="docs-header eleven columns"><i class="fa fa-flask fa-fw"></i> This Site</h2>
          <div class="one column">
              <a href="https://github.com/abuckenheimer/flaskWeb"><i class="fa fa-github fa-2x"></i></a>
          </div>
        </div>
      <p>Powered by flask</p>
    </div>
    <div class="docs-section" id="mp3helper">
        <div class="row">
          <h2 class="docs-header eleven columns"><i class="fa fa-music fa-fw"></i> Free Music</h2>
          <div class="one column">
              <a href="https://github.com/abuckenheimer/mp3Helper"><i class="fa fa-github fa-2x"></i></a>
          </div>
        </div>
      <p>Chrome extensions for the win</p>
    </div>
    <div class="docs-section" id="chrome">
        <div class="row">
          <h2 class="docs-header eleven columns"><i class="fa fa-arrows-alt fa-fw"></i> Keyboard Nav</h2>
          <div class="one column">
              <a href="https://github.com/abuckenheimer/google_hot_keys"><i class="fa fa-github fa-2x"></i></a>
          </div>
        </div>
      <p>By developers for developers</p>
    </div>
    <div class="docs-section" id="resync">
        <div class="row">
          <h2 class="docs-header eleven columns"><i class="fa fa-refresh fa-fw fa-spin"></i> FileSync</h2>
          <div class="one column">
              <a href="https://github.com/abuckenheimer/resync"><i class="fa fa-github fa-2x"></i></a>
          </div>
        </div>
      <p>Over powered shit</p>
    </div>
</div>
{% endblock %}