<!doctype html>
<head>
  <title>Buckenheimer</title>
  <style type="text/css">
  body {
    background-image: url("/static/img/mechanical.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    color: white;
    font-family: helvetica;
    text-align: center;
    font-size: 40px;
    }
  </style>
</head>
<body>
  <h1>WIP</h1>
</body>
